:root {
    --color: #cccccc;
    --background-color: #252525;
    --highlignt-color: #9e9eff;
    --link-color: #a0bcff;
    --pre-background-color: #333333;
    --error-color: #ff0040;

    color-scheme: light dark;
}
body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#viewer {
    & a {
        color: var(--link-color);
    }
    & table {
        & th {
            text-align: left;
        }
        & th, td {
            padding: 2px 8px;
        }
    }
    & pre {
        background-color: var(--pre-background-color);
        padding: 1em;
    }
}
#error-message {
    color: var(--error-color);
    font-size: larger;
    text-align: center;
}
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f0f0f0;
        --color: #1f1f1f;
        --highlignt-color: #9e9eff;
        --link-color: #2020fa;
        --pre-background-color: #dfdfdf;
    }
}
